<div class="fcc h-full w-full">

  <div class="flex flex-col justify-start bg-4d.10 rounded-[8px] w-[500px] min-h-[600px] p-4 gap-4 overflow-x-hidden">
    <!-- switcher -->
    <div class="fcc w-full">
      <div class="flex items-center justify-start relative bg-ff rounded-[20px]">
        <button class="fcc w-[156px] h-[32px] rounded-[20px] z-[1]" [ngClass]="{'pointer-events-none': pageStatus == 0}"
          (click)="switchTab(0)">
          <span class="text-6b text-lsm font-semibold">Login</span>
        </button>
        <button class="fcc w-[156px] h-[32px] rounded-[20px] z-[1]" [ngClass]="{'pointer-events-none': pageStatus == 1}"
          (click)="switchTab(1)">
          <span class="text-6b text-lsm font-semibold">Register</span>
        </button>
        <div class="bg-b2 pointer-events-none absolute top-0 w-[156px] h-[32px] rounded-[20px] transition-transform"
          [ngClass]="pageStatus == 0? 'translate-x-0': 'translate-x-[156px]'"></div>
      </div>
    </div>

    <!-- login & register -->
    <div class="fcc flex-col w-full grow">
      <div *ngIf="pageStatus == 0" class="flex flex-col justify-center items-end gap-3" id="login">

        <div class="flex flex-row gap-2 items-center">
          <span>Account:</span>
          <div class="flex w-[250px] h-8 px-3"
            [ngClass]="accountValid? 'custom_input':'custom_input_error'">
            <input type="text" #accountInput placeholder="E-mail" spellcheck="false"
              (keyup)="onLoginKeyUp(INPUT_TYPE.ACCOUNT, accountInput.value)" required>
          </div>
        </div>

        <div class="flex flex-row gap-2 items-center">
          <span>Password:</span>
          <div class="flex custom_input w-[250px] h-8 px-3">
            <input type="text" #phoneInput placeholder="Enter phone number" maxlength="32" spellcheck="false"
              (keyup)="onLoginKeyUp(INPUT_TYPE.PHONE, phoneInput.value)" required>
          </div>
        </div>

      </div>

      <div *ngIf="pageStatus !== 0" class="flex flex-col justify-center items-end gap-3" id="login">

        <div class="flex flex-row gap-2 items-center">
          <span>Account:</span>
          <div class="flex w-[250px] h-8 px-3"
            [ngClass]="accountValid? 'custom_input':'custom_input_error'">
            <input type="text" #regAccountInput placeholder="E-mail" spellcheck="false"
              (keyup)="onRegKeyUp(INPUT_TYPE.ACCOUNT, regAccountInput.value)" required>
          </div>
        </div>

        <div class="flex flex-row gap-2 items-center">
          <span>Password:</span>
          <div class="flex custom_input w-[250px] h-8 px-3">
            <input type="text" #regPhoneInput placeholder="Your phone number" spellcheck="false"
              (keyup)="onRegKeyUp(INPUT_TYPE.PHONE, regPhoneInput.value)" required>
          </div>
        </div>

        <div class="flex flex-row gap-2 items-center">
          <span>Name:</span>
          <div class="flex custom_input w-[250px] h-8 px-3">
            <input type="text" #regNameInput placeholder="Your name" spellcheck="false"
              (keyup)="onRegKeyUp(INPUT_TYPE.NAME, regNameInput.value)" required>
          </div>
        </div>

      </div>

    </div>

    <div class="fcc w-full min-h-[64px] p-3">
      <span class="text-[14px] font-semibold text-d1">{{errorMsg}}</span>
    </div>

    <div class="flex flex-row justify-end items-center w-full h-[64px]">
      <button class="fcc custom_basic_btn w-[156px]" [disabled]="disabledSubmitBtn" (click)="onSubmit()">
        <span class="text-[14px] font-semibold" [hidden]="pageStatus !== 0">Login</span>
        <span class="text-[14px] font-semibold" [hidden]="pageStatus == 0">Create account</span>
      </button>
    </div>
  </div>
</div>
