<div class="flex flex-col h-full w-full overflow-hidden">
  <div class="flex flex-col w-full h-auto">
    <div class="flex justify-end w-full px-2">
      <button aria-label="close" class="w-4 h-4 close_btn btn_status" (click)="closeDialog()"></button>
    </div>
    <div class="w-full px-6">
      <p class="text-lsm text-1c text-left">修改課程資訊</p>
    </div>
  </div>

  <div class="grow flex flex-col justify-center items-end gap-3">

    <div class="flex flex-row gap-2 items-center">
      <span>課程結束日期:</span>
      <div class="flex w-[250px] h-8 px-3">
        <input type="text" #enddateInput placeholder="yyyy-mm-dd" spellcheck="false" [value]="session?.enddate"
          (keyup)="keyUp(SESSION_INPUT.enddate, enddateInput.value)" required>
      </div>
    </div>

    <div class="flex flex-row gap-2 items-center">
      <span>課程描述</span>
      <div class="flex w-[250px] h-8 px-3">
        <input type="text" #sdescInput placeholder="課程描述" spellcheck="false" [value]="session?.sdesc"
          (keyup)="keyUp(SESSION_INPUT.sdesc, sdescInput.value)" required>
      </div>
    </div>

    <div class="flex flex-row gap-2 items-center">
      <span>課程價格</span>
      <div class="flex w-[250px] h-8 px-3">
        <input type="text" #priceInput placeholder="課程價格" spellcheck="false" [value]="session?.price"
          (keyup)="keyUp(SESSION_INPUT.price, priceInput.value)" required>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-between items-center w-full h-[64px]">
    <div class="flex flex-row items-center gap-2">
      <button class="fcc custom_checkbox h-4 w-4" (click)="isDelete = !isDelete">
        <div class="h-4 w-4 pointer-events-none" [hidden]="!isDelete">
          <svg id="checkbox" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path id="Path_901" data-name="Path 901" d="M3.791,7.613,6.77,10.592l5.522-5.522"
              transform="translate(-0.041 0.169)" fill="none" stroke="#4d9f75" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" />
          </svg>
        </div>
      </button>

      <span class="text-1c text-[14px]">若勾選將會根據課程編號刪除課程</span>
    </div>


    <button class="fcc custom_basic_btn w-[156px]" [disabled]="disabledSubmitBtn" (click)="onSubmit()">
      <span class="text-[14px] font-semibold" [hidden]="isDelete">確定修改</span>
      <span class="text-[14px] font-semibold" [hidden]="!isDelete">確定刪除</span>
    </button>
  </div>
</div>
